@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

:root {
  --yellow: #FFC30B;
  --gray: #333333;
  --ivoryWhite: #FAF3E0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--yellow);
  color: var(--gray);
  font-family: "微軟正黑體";
}

.site-header {
  background-color: var(--dark-background);
  width: 100%;
  margin-top: 0;
  height: 64px;
  position: relative;
  z-index: 10;
  font-weight: bold;
}
@media (max-width: 768px) {
  .site-header {
    margin-top: 64px;
  }
}
.site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.site-header .logo {
  color: var(--gray);
  font-size: 24px;
  font-weight: bold;
}
.site-header .menu-toggle {
  width: 24px;
  height: 24px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.site-header .menu-toggle .hamburger {
  display: block;
  background: none;
  border: none;
  height: 1.5px;
  width: 24px;
  background: var(--gray);
  color: var(--gray);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.site-header .menu-toggle .hamburger::before, .site-header .menu-toggle .hamburger::after {
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  background: var(--gray);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-header .menu-toggle .hamburger::before {
  top: -10px;
}
.site-header .menu-toggle .hamburger::after {
  bottom: -10px;
}
.site-header .menu-toggle.open .hamburger {
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
}
.site-header .menu-toggle.open .hamburger::after {
  -webkit-transform: translate(26px, -10px) rotate(-135deg);
          transform: translate(26px, -10px) rotate(-135deg);
}
.site-header .menu-toggle.open .hamburger::before {
  -webkit-transform: translate(26px, 10px) rotate(135deg);
          transform: translate(26px, 10px) rotate(135deg);
}
@media (max-width: 1024px) {
  .site-header .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.site-header .main-nav {
  position: static;
  width: auto;
  max-height: none;
  z-index: 0;
  overflow: visible;
  text-align: center;
  top: 64px;
  left: 0;
  -webkit-transition: max-height 0.3s ease, z-index 0.3s ease;
  transition: max-height 0.3s ease, z-index 0.3s ease;
}
@media (max-width: 1024px) {
  .site-header .main-nav {
    background: var(--gray);
    overflow: hidden;
    position: absolute;
    width: 100%;
    max-height: 0;
    z-index: -10;
  }
}
.site-header .main-nav.open {
  max-height: 500px;
}
.site-header .main-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) {
  .site-header .main-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.site-header .main-nav li a {
  color: var(--gray);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.5rem;
  display: block;
}
@media (max-width: 1024px) {
  .site-header .main-nav li a {
    color: var(--ivoryWhite);
    padding: 0 0.75rem;
    height: 64px;
    line-height: 64px;
  }
}
.site-header .main-nav li a.active, .site-header .main-nav li a:hover {
  background-color: var(--gray);
  color: var(--ivoryWhite);
}

.todoList {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .todoList {
    margin-top: 20vh;
  }
}
.todoList__title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .todoList__title {
    font-size: 4rem;
  }
}
@media (max-width: 414px) {
  .todoList__title {
    font-size: 3.5rem;
  }
}
.todoList__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}
.todoList__input--input {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background: var(--ivoryWhite);
  color: var(--gray);
}
.todoList__input--btn {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  outline: none;
  border: none;
  padding: 0.5rem 0;
  border-radius: 0 0.5rem 0.5rem 0;
  background: var(--gray);
  color: var(--ivoryWhite);
  cursor: pointer;
}
.todoList__list {
  width: 100%;
  padding: 25px;
  border-radius: 25px;
  font-size: 1.2rem;
  background: var(--ivoryWhite);
  opacity: 0;
}
@media (max-width: 768px) {
  .todoList__list {
    padding: 0.8rem 25px;
  }
}
.todoList__list.active {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.todoList__list--item {
  line-height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .todoList__list--item {
    font-size: 1rem;
  }
}
.todoList__list--item .delete {
  padding: 0 1rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  background: transparent;
  color: var(--gray);
  cursor: pointer;
}
@media (max-width: 768px) {
  .todoList__list--item .delete {
    padding: 0 0.5rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=todo.css.map */